{% extends "base.html" %}
{% block content %}
<h1 class="page-header">{%block title%}{% endblock %}</h1>

{% block preamble %}{% endblock %}

<h2>Spectra</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Date</th>
            <th>Observer</th>
            <th>Range</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for (filename, spectrum) in spectra %}
        <tr>
            <td><a href="/{{filename}}.png"><img src="/{{filename}}.thumb.png"></a></td>
            <td>{{ spectrum.header()['DATE-OBS'] }}</td>
            <td>{{ spectrum.header()['OBSERVER'] }}</td>
            <td>{{ "%d - %d"|format(spectrum.wavelengths()[0], spectrum.wavelengths()[-1]) }}</td>
            <td><a class="btn btn-primary btn-sm" href="/{{filename}}"><span class="glyphicon glyphicon-download"></span> Download</a></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <th colspan="4"></th>
      <th><a class="btn btn-primary" href="/{{zipfilename}}"><span class="glyphicon glyphicon-compressed"></span> Download all (zip)</a></th>
    </tfoot>
</table>
{% endblock %}
