{% extends "campaign.html" %}
{% block title %}Eta Carinae periastron campaign 2014{% endblock %}
{% block preamble %}
<p>
An international campaign to monitor the 2014 periastron passage of Eta Carinae.
</p>
<h2>Key Information</h2>
<ul>
  <li>
    The campaign runs from May 1st 2014 through to Sep 30th 2014, with a
    predicted date of 2014 July 26 02:23:00UT for the periastron phase=0.0.
  </li>
  <li>
    More information is available at
    <a href="http://etacar2014.wikidot.com/">the campaign website</a>
  </li>
  <li>
    Please send 1D spectra in FITS format to 
    <a href="mailto:saser@lists.wholemeal.co.nz">saser@lists.wholemeal.co.nz</a>
  </li>
</ul>
{% endblock %}
