{% extends "campaign.html" %}
{% block title %}Gamma<sup>2</sup> Velorum{% endblock %}
{% block preamble %}
<p>
The BRITE-Constellation nanosatellites will be observing from late November
2014 through late May 2015 some fields with interesting massive stars for which
ground-based spectroscopy would be a great asset to understand the photometric
variability we will observe. 
</p>

<p>
Gamma<sup>2</sup> Vel is a 78d binary consisting of a Wolf-Rayet (the
brightest in the sky) and an O star. Our goals for gamma-2 Vel are to better
determine the orbit (which is already pretty good), quantify the excess
emission from colliding winds, determine the amount of clumping in the winds,
and examine some subtle effects in the variability. The best line for the
colliding winds is C III 5696, especially since the He II 4686 (typically this
is a good line) is blended with two other emission lines. Our hope is to get
4-6 spectra per day (also well spread in time) to best quantify the
variability.
</p>

<ul>
  <li>
  The region of interest is 5550-5950A (C III 5696, C IV 5802-5812, He I 5876)
  </li>
  <li>R ~ 10,000 and S/N &gt; 200 required</li>
</ul>
{% endblock %}
