{% extends "campaign.html" %}
{% block title %}HD 139966{% endblock %}
{% block preamble %}
<p>
HD 139966 is an RR Lyrae star, previously incorrectly identified as an
eclipsing binary.  It is part of the multiple system HH Nor.  Time series
spectra are required to cover several pulsation cycles.
</p>
<ul>
  <li>HH Nor (RA=15:43:29.4 Dec=-51:50:37.5) is actually a
  visual double star, there is an eclipsing binary nearby (separation is 12''6).
  The brighter one (changing betweeen 8.8 and 9.3 mag) is the RR Lyrae
  component and has the designation HD139966.  A
  <a href="/hh_nor/HHNor_target.jpg">finder chart</a> is provided to aid
  in locating the correct target.
  </li>
  <li>The pulsation period is ~0.6 days.</li>
  <li>Preferred wavelength range is 5800-6700A</li>
  <li>Ideally R &gt; 6000, S/N at least ~40-50.</li>
  <li>If limited by instrumentation, it is preferable to sacrifice R for wider
  wavelength coverage, down to a limit of R ~ 3500.</li>
  <li>Please keep integrations below 1800 seconds to ensure temporal changes
  are not lost.</li>
  <li>Please take accompanying spectra of the RV standard <a
    href="/alp_tra">alp TrA (HD150798)</a> for all observations.</li>
</ul>
<p>The project PI is <a href="http://www.konkoly.hu/staff/derekas.shtml">Aliz Derekaz</a></p>
{% endblock %}
