{% extends "base.html" %}
{% block title %}Southern Astro Spectroscopy Email Ring{% endblock %}
{% block content %}
<h1 class="page-header">SASER - the Southern Astro Spectroscopy Email Ring</h1>

<div class="row">
  <div class="col-md-8">
    <p>
      SASER - the Southern Astro Spectroscopy Email Ring - is a group of
      advanced amateur and professional astronomers collaborating on a number
      of current &apos;pro-am&apos; astronomical research initiatives where southern
      hemisphere spectroscopic data is required. It consists primarily of two
      components:
    </p>

    <p>
      <strong>The SASER maling list</strong> - where members can exchange
      ideas and data pertaining to particular observing campaigns,
      targets or techniques.
    </p>
    <p>
      <strong>The SASER database</strong> - providing a collection point
      for spectral profiles (FIT) submitted by members.
    </p>

    <p>
      We encourage anyone requiring the involvement of amateurs for specific campaigns
      or long term monitoring of targets to sign up to
      <a href="http://lists.wholemeal.co.nz/cgi-bin/mailman/listinfo/saser">
        the SASER mailing list.
      </a> and introduce the details of your campaign there.
    </p>

    <p>
      Similarly, if you are a southern amateur who would like to be involved in
      spectroscopic campaigns, please sign up to the 
      <a href="http://lists.wholemeal.co.nz/cgi-bin/mailman/listinfo/saser">
        SASER mailing list
      </a>.
    </p>

    <p>
      Please note, general discussion on amateur spectroscopy is *not*
      encouraged on the SASER mailing list.  We request that discussion be
      restricted to the campaigns and targets of interest to the group.
    </p>

    <p>
      If you would like to discuss technique etc. we recommend the following
      mailing lists and forums.
    </p>

    <ul>
      <li><a href="http://spectro-aras.com/forum/">ARAS Spectroscopy Forum</a></li>
      <li><a href="https://groups.yahoo.com/neo/groups/astronomical_spectroscopy/info">Astronomical Spectroscopy for Amateurs mailing list</a></li>
      <li><a href="https://groups.yahoo.com/neo/groups/spectro-l/info">spectro-l mailing list</a></li>
    </ul>
  </div>

  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">Campaigns</div>
      <div class="panel-body">
        <ul>
          <li><a href="mu_sgr">Mu Sgr</li>
          <li><a href="uw_cma">UW CMa</li>
          <li><a href="wr6">WR6</li>
          <li><a href="gamma-2_vel">Gamma<sup>2</sup> Velorum</a></li>
          <li><a href="zet_pup">Zeta Puppis</a></li>
          <li><a href="eta_car_periastron_2014">Eta Carinae periastron 2014</a></li>
          <li><a href="wr71">WR71</a></li>
          <li><a href="u_tra">U TrA</a></li>
          <li><a href="hd139966">HD 139966</a></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Publications / Telegrams</div>
      <div class="panel-body">
        <ul>
          <li><a href="http://arxiv.org/abs/1601.03396">ApJ: He II 4686 emission from the massive binary system in eta Car: constraints to the orbital elements and the nature of the periodic minima - Teodoro et al.</a></li>
          <li><a href="http://www.astronomerstelegram.org/?read=6464">ATel #6464 He II 4686 in eta Carinae: no significant changes between 2009.0 and 2014.6</a></li>
          <li><a href="http://www.astronomerstelegram.org/?read=6380">ATel #6380 The stability of the He II 4686 line emission across periastron passages in eta Carinae</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>
{% endblock %}
