{% extends "campaign.html" %}
{% block title %}Mu Sgr{% endblock %}
{% block preamble %}
<p>
Mu Sgr (HD 166937; 'Polis', V=3.85). It is an early B supergiant in a
long-period binary (P~180 d) that is possibly eclipsing (the BRITE data should
answer that).  The C II lines 6578/6583 and Si II 6347/6371 can be used for the
binary motion, and the H-alpha profile changes quite a bit from two
observations obtained recently. An R &gt; 10k with S/N &gt; 150 would be great
if possible and wavelength coverage from 6300-6750 to also cover He I 6678
would be great.
</p>
<p>
The project PI is
<a href="http://www.astro.umontreal.ca/groupe/fiche_frame_en.php?id=269">Noel Richardson</a>
</p>
{% endblock %}
