{% extends "base.html" %}
{% block title %}SASER data usage policy{% endblock %}
{% block content %}
<h1 class="page-header">SASER data usage policy</h1>

<div class="row">
  <div class="col-md-12">
    <p>
    SASER exists as a communication front between professional and amateur
    spectroscopists interested in southern hemisphere objects. Data published on
    this page are reduced by the observers, and shared with all SASER subscribers
    regularly in order to validate the observations.
    </p>
    <p>
    Use of the data in publications
    is encouraged, but subject to the following conditions:
    </p>
    <ul>
      <li>
        The observers concerned should be contacted to confirm the particular
        acquisition and data reduction procedures used.
      </li>
      <li>
        The campaign PI should be contacted to determine if the planned
        analysis could be a collaborative effort or an additional analysis.
      </li>
      <li>
        Observers contributing data or whose data are useful to the findings of
        the paper should be invited to be co-authors.
      </li>
      <li>
        The following acknowledgement should be included in all publications:
        <strong>
          This publication is based (in part) on spectroscopic data obtained
          through the collaborative Southern Astro Spectroscopy Email Ring
          (SASER) group.
        </strong>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
