{% extends "campaign.html" %}
{% block title %}UW CMa{% endblock %}
{% block preamble %}
<p>
UW Cma (29 CMa, HD57060) is one of a number of windy massive stars for which
ground based spectroscopic observations are required to complement
BRITE-Constellation time series photometry.
</p>
<ol>
  <li>
    Target wavelengths for those able to contribute high resolution
    spectroscopy are centred on 5411A and 4686A.
  </li>
  <li>
    Desired R ~ 10,000
  </li>
</ol>
<p>
The project PI is
<a href="http://en.phys.umontreal.ca/repertoire-departement/vue/moffat-anthony-fj/">Anthony Moffat</a>
</p>
{% endblock %}
