{% extends "campaign.html" %}
{% block title %}UW CMa{% endblock %}
{% block preamble %}
<p>
UW CMa is one of the &apos;windy massive&apos; OB stars requiring ground based
high-res spectroscopy concurrently with high precision photometry from the
BRITE-Constellation satellites campaign. A <a href="BRITE_v4.pdf">project
  document</a> is available. Details on BRITE-Constellation&apos;s current and
future targets are available at the <a href="http://www.univie.ac.at/brite-constellation/index.html">BRITE-Constellation website</a>.
</p>
<p>
Basic campaign observing information: UW CMa (aka HD57060/29 CMa/HR2781): This
V~5.0, O7Ia:fp star is near Sirius. (07 18 40.3, -24 33 32.0, epoch 2000)
Spectra of as many key lines as possible in the blue-red optical region (with
emphasis on the line-rich blue region between 3800 A and 4900A) is requested but
if only a single order is possible then nightly spectra of windows (&gt;150A)
centred on the He II lines at 4686 A and 5411 A is preferred.
A resolution R~10,000 and SNR of at least 200 is required.
</p>
<p>
The project PI is
<a href="http://en.phys.umontreal.ca/repertoire-departement/vue/moffat-anthony-fj/">Anthony Moffat</a>
</p>
{% endblock %}
