{% extends "campaign.html" %}
{% block title %}WR6{% endblock %}
{% block preamble %}
<p>
Basic campaign observing information: WR6 (aka HD 50896 / EZ CMa):  This V~6.9,
WN4-s star is near Sirius. (06 54 13.0, -23 55 42.0, epoch 2000)
</p>

<p>
HR 4468 (aka HD100889, tet Crt), V~4.7, B9.5V, could be used as a continuum
standard (11 36 40.8, -09 48 08.1, epoch 2000). It will be used for the CTIO
echelle survey.
</p>
<ol>
  <li>
    If your wavelength window is limited to the 100A to 150A range then then
    HeII 5411 is the primary central wavelength choice. If you have a wider
    window then our old friend HeII 4686 is the line of interest.
  </li>
  <li>
    A minimum resolution, R, of 5000 is required and a maximum of no more than
    10,000 is needed.
  </li>
  <li>
    A SNR of at least 100 is required.
  </li>
</ol>
<p>
The project PI is
<a href="http://en.phys.umontreal.ca/repertoire-departement/vue/moffat-anthony-fj/">Anthony Moffat</a>
</p>
{% endblock %}
