{% extends "campaign.html" %}
{% block title %}Zeta Puppis{% endblock %}
{% block preamble %}
<p>
The BRITE-Constellation nanosatellites will be observing from late November
through late May 2015 some fields with interesting massive stars for which
ground-based spectroscopy would be a great asset to understand the photometric
variability we will observe.
</p>
<p>
The long-planned southern field beginning in November (continuing for 6 months)
is Vela-Puppis. There are two great massive stars to observe there. The first
is the brightest early-O star in the sky, zeta Pup. This star is probably a
single O star, and the wind is pretty strong. The star is well-studied, and UV
variability shows wind variations that are recurrent on a time-scale of 15-19
hours.  This should also be observed as variability in the strongest optical
wind (emission) lines such as He II 4686 and H-alpha.
</p>
<p>
The comparison of the optical spectroscopic variability and the
photometric behavior will provide us with a great understanding of the star,
and our understanding of massive star evolution.
</p>
<p>
See page 6 of
<a href="http://spektroskopie.fg-vds.de/pdf/Spektrum46.pdf">Spektrum #46</a>
for a more detailed overview of the aims of this campaign.
</p>
<ul>
  <li>Campaign runs from Late November 2014 for 6 months.</li>
  <li>
    Regions of interest are preferably 4500 - 4900 angstrom (He II 4686,
    H-beta, NIII 4634-4641, NV 4602-19) or alternatively 6400-6800 angstrom
    (H-alpha).
  </li>
  <li>Resolution of R ~ 10,000 and S/N of 200 minimum are required</li>
</ul>
{% endblock %}
